button
{
    background-color: green;
    border: solid black;
    border-radius:10px;
    padding: 20px;
    float: right;
}
 body
{
    background-color: gray;
    color: white;
    margin: 10px;
    padding: 10px;
} 
.container
{
    width: 50%;
    height: 40%;
    padding: 20px;
    border: 1px solid black;
    background-color: cadetblue;
    margin: 50px;

}
input[type="password"],input[type="text"],input[type="submit"]
{
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-top;
}


