*{
    background-color: black;
    color: white;
}

.griglia{
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.griglia div{
    width: 20px;
    height: 20px;
}
.pac-dot{
    background-color: white;
    border: 8px solid black;
    box-sizing: border-box;
}
.wall{
    background-color: blue;
}
.power-pellet{
    background-color: white;
    border-radius: 10px;
}
.lampeg{
    background-color: red;
}
.pinky{
    background-color: magenta;
}
.ink{
    background-color: cyan;
}
.clyde{
    background-color: orange;
}
.pac-man{
    background-color: yellow;
    border-radius: 10px;
}
.scaredG{
    background-color: aquamarine;
}
